@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  @apply tracking-wide;
}
body,
h3,
p,
a,
ul,
li,
div,
span {
  color: text-gray;
  font-family: "Manrope", sans-serif;
  /* background-color: #131313; */
}
html {
  padding: 0;
  /* padding: 0;
  padding: 0 calc(17px - (100vw - 100%)) 0 0; */
}
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet-active {
  color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
